[Unit]
Description=Drone server

[Service]
ExecStart=/bin/sh /home/pi/drone/webapp/server/service/drone_server
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
